@keyframes activeAnime{
  0% {
          -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
          box-shadow: 0 0 0 0 rgba(20, 10, 68, 0.4);
    }
      
    40% {
        -moz-box-shadow: 0 0 0 5px rgba(46, 88, 18, 0.4);
        box-shadow: 0 0 0 5px rgba(46, 88, 18, 0.4);
    }
      
    80% {
        -moz-box-shadow: 0 0 0 5px rgba(159, 93, 245, 0);
        box-shadow: 0 0 0 5px rgba(159, 93, 245, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(197, 60, 26, 0);
        box-shadow: 0 0 0 0 rgba(197, 60, 26, 0);
    }
      
}
.inverted.menu{
    background:#031b30;
    height: 5%;
    border-radius: 0px;
}

.left.menu{
    width:12%;
    height: auto;
}
.right.menu{
    width:12%;
    height: auto;
}
a{
    border-radius: 0px;
    text-align: center;
}
.active{
    animation: activeAnime 1.5s infinite;
}
i{
    transform: scale(1.1);
}