@keyframes activeAnime {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(20, 10, 68, 0.4);
  }

  40% {
    -moz-box-shadow: 0 0 0 5px rgba(46, 88, 18, 0.4);
    box-shadow: 0 0 0 5px rgba(46, 88, 18, 0.4);
  }

  80% {
    -moz-box-shadow: 0 0 0 5px rgba(159, 93, 245, 0);
    box-shadow: 0 0 0 5px rgba(159, 93, 245, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(197, 60, 26, 0);
    box-shadow: 0 0 0 0 rgba(197, 60, 26, 0);
  }

}

.inverted.menu {
  background: #031b30;
  height: 5%;
  border-radius: 0px;
}

.left.menu {
  width: 12%;
  height: auto;
}

.right.menu {
  width: 12%;
  height: auto;
  transform:translateX(-20%);
}

a {
  border-radius: 0px;
  text-align: center;
}

.active {
  animation: activeAnime 1.5s infinite;
}

i {
  transform: scale(1.1);
}

.ui.input {
  height: 50%;
  width: 120px;
  margin-top: 10px;
  margin-left: 2%;
}

@keyframes openBoxSearch {
  0% {
    width: 120px;
  }

  100% {
    width: 35%;
  }
}

@keyframes closeBoxSearch {
  0% {
    width: 35%;
  }

  100% {
    width: 120px;
  }
}

.openInputSearch {
  animation: openBoxSearch 0.4s;
  width: 35%;
}

.closeInputSearch {
  animation: closeBoxSearch 0.4s;
  width: 10%;
}

#search_people_1 {
  border-radius: 25px;
  font-weight: bold;
}
