<div class="container fluid" id="CF">
  <app-menu></app-menu>
  <div class="ui equal width centered aligned grid uewcag">
    <div class="row" style="max-height: 95vh;">

      <div class="three wide column" id="friendsColumn">
        
        <ng-container *ngFor="let i of friends_list">
          <div class="itemList row">
            <div class="sixteen wide column">
              <div class="item_block">
                <div class="bullOnline"></div>
                <img class="ui middle aligned mini circular image" style="width: 50px;" src="{{i.image}}">
                <div class="item_content">
                  <span class="nameuser etext">{{i.name}}</span>
                  <p class="etext nmsg">{{i.nmsg}}</p>

                </div>
                <div class="ui divider"></div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="row ui input icon search_friend_input_" id="sfi__">
        <input placeholder="Trouver des contactes...." (keyup)="updateFriendsList($event)" appFocusPulse
          style="border-radius:25px;background:#0d0f10;color:white;font-weight:bold;">
        <i class="user icon" style="color:white;transform:translateY(6px)"></i>
      </div>
      <div id="friendMessagesArea" class="ten wide column" style="height:100%;">
        <div class="row" style="display: flow-root;">
          <div class="column" style="width: 95%;">
            <img class="ui middle aligned userimage_1 circular image" src="{{wahid}}" />

            <span class="nameuser nameuser_1">Boujemaa wahid
            </span>

            <div style="background:none" class="ui icon top left pointing dropdown">

              <i class="wrench icon" id="setting_rotate"></i>
              <div class="menu" style="z-index: 5;">
                <div class="header">Display Density</div>
                <div class="item">Comfortable</div>
                <div class="item">Cozy</div>
                <div class="item">Compact</div>
                <div class="ui divider"></div>
                <div class="item">Settings</div>
                <div class="item">
                  <i class="dropdown icon"></i>
                  <span class="text">Upload Settings</span>
                  <div class="menu">
                    <div class="item">
                      <i class="check icon"></i>
                      Convert Uploaded Files to PDF
                    </div>
                    <div class="item">
                      <i class="check icon"></i>
                      Digitize Text from Uploaded Files
                    </div>
                  </div>
                </div>
                <div class="item">Manage Apps</div>
                <div class="item">Keyboard Shortcuts</div>
                <div class="item">Help</div>
              </div>
            </div>



            <div class="ui input" [ngStyle]="{'float':'right', 'height':'25px','display':messageTrait.active_search}">

              <input appFocusPulse (keyup)="messageTrait.searchInMsgs($event)"
                style="border-radius: 15px;height: 10px;">
              <div class="ui label black">{{messageTrait.count}}</div>

              <div (click)="messageTrait.scroll(0)" class="ui label large circular blue prec_icon_search_conv">
                <i style="margin-left:25%" class="chevron up icon"></i>
              </div>

              <div (click)="messageTrait.scroll(1)" class="ui label large circular blue next_icon_search_conv">
                <i style="margin-left:25%" class="chevron down icon"></i>
              </div>

            </div>
            <div class="ui divider"></div>

          </div>
        </div>
        <div class="ui grid messages">
          <div #MESSAGES_CONTAINER id="messagesContainer__" class="ui form messagesContainerForm">
            <ng-container *ngFor="let i of messages; let last=last">

              <div [ngClass]="['field']" style="width: 100%">
                <div [attr.data-variation]="'inverted'" [attr.data-position]="i.self==true?'left center':'right center'"
                  [attr.data-html]="i.getTitle()"
                  [ngClass]="['msgPopup', i.newmsgcl,'msgContent', i.self == true?'msg_self':'msg_friend']"
                  [ngStyle]="{'width': i.getWidth()}">
                  <p class="message_text_value">{{i.value}}</p>
                </div>
              </div>

            </ng-container>
            <!--AUDIO
            <div class="field" style="width: 100%">
              <div class="msg_self msgPopup msgContent"
                [ngStyle]="{'width': '25%','text-align':'center','cursor':'pointer', 'background':'none'}">
                <div style="display: flex;width:100%">
                  <audio controls src="assets/audio.mp3" style="height:25px"></audio>
                </div>
              </div>
            </div>
            -->
            <!-- IMAGES 
            <div [ngClass]="['field']" style="width: 100%">
              <div [attr.data-variation]="'inverted'" [attr.data-position]="'left center'"
                [ngClass]="['msgPopup', '', 'msg_self']" style="background:none;">
                <div style="width:65%;float:right">
                  <img style="float:right;margin:0.5%;" class="ui small rounded image msg_content_img" src="{{wahid}}">
                </div>
              </div>    
            </div>
                  -->

          </div>
          <div id="btmROW" class="row">
            <div class="column" style="display:inherit">
              <fa-icon [attr.data-inverted]="''" [attr.data-position]="'top center'"
                [attr.data-tooltip]="'Appelez en video'" [icon]="icons.video" class="popup faib faicon fas fa-2x">
              </fa-icon>
              <fa-icon (click)="callAudio()" [attr.data-inverted]="''" [attr.data-position]="'top center'"
                [attr.data-tooltip]="'Appelez en audio'" [icon]="icons.phone" class="popup faib faicon fas fa-2x">
              </fa-icon>
              <fa-icon (click)="showVocalModal()" [attr.data-inverted]="''" [attr.data-position]="'top center'"
                [attr.data-tooltip]="'Message vocale'" [icon]="icons.microphone" class="popup faib faicon fas fa-2x">
              </fa-icon>

              <fa-icon [attr.data-inverted]="''" [attr.data-position]="'top center'"
                [attr.data-tooltip]="'Envoyé des images'" [icon]="icons.image" class="popup faib faicon fas fa-2x">
              </fa-icon>
              <fa-icon [attr.data-inverted]="''" [attr.data-position]="'top center'"
                [attr.data-tooltip]="'Envoyé des fichiers'" [icon]="icons.file" class="popup faib faicon fas fa-2x">
              </fa-icon>

              <div class="ui input icon inputMessageField" id="i1">
                <input (keypress)="sendMessage($event)" appFocusPulse id="msgInput" placeholder="Message..."
                  type="text">
                <i class="comment alternate outline icon"></i>
              </div>
              <div id="i2">
                <div class="ui menu inverted" style="background: none;width:100%;transform:translateY(-5px);">
                    <a class="item" style="width:80%">
                      <div class="ui input icon inputMessageField_res">
                        <input (keypress)="sendMessage($event)" appFocusPulse id="msgInput_" placeholder="Message..."
                  type="text">
                  
                <i class="comment alternate outline icon"></i>
                      </div>

                    </a>
                    <a class="item">
                      <fa-icon [icon]="icons.send" style="color:#0275d8" [ngClass]="['fas', faIconSize]"></fa-icon>
                    </a>
                    
                    <a class="item">
                      <fa-icon id="itemsBottomBarTr" [icon]="icons.bars" style="color:#0275d8" [ngClass]="['fas', faIconSize]"></fa-icon>
                    </a>
                </div>
              <!--<div class="ui input icon inputMessageField_res">
              
                <input (keypress)="sendMessage($event)" appFocusPulse id="msgInput_" placeholder="Message..."
                  type="text">
                  
                <i class="comment alternate outline icon"></i>
                
              </div>
              <fa-icon [icon]="icons.send" [ngClass]="['faicon', 'fas', (faIconSize=='fa-1x')?'fa-2x':faIconSize]"></fa-icon>
            -->
            </div>
              
            </div>
          </div>
        </div>
      </div>
      <div id="friendActions" class="column" style="overflow-y: scroll; overflow-x: hidden;">
        <div class="ui form">

          <div class="field" style="text-align: center;">
            <img src="{{wahid}}" class="description_image">
            <span class="nameuser nameuser_1">Boujemaa wahid</span>
            <div class="ui divider"></div>
          </div>

          <div class="field button ui black" style="width:100%;">Supprimer la conversation</div>
          <div class="field button ui black" style="width:100%;">Archiver la conversation</div>
          <div class="field button ui black" style="width:100%">Fichiers partager</div>
          <div (click)="messageTrait.activeSearchInConv()" class="field button ui black">Chercher dans la conversation
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal" id="msgVocalModal">
  <div class="ui icon header">
    <div (click)="recordVocalMessage()" [attr.working]="false" id="messageVocalModal__">
      <fa-icon [icon]="icons.microphone" [ngClass]="['fas',faIconSize]" ></fa-icon>
    </div>
    <br>
    <p id="messageVocalModalDesc__">Cliquez sur le micro pour commencer ou recommencer.</p>
  </div>

  <div class="actions" style="text-align: center;">
    <div class="ui cancel button inverted" style="width:35%;">
      Quitter
    </div>
    <div class="ui blue ok inverted button" style="width:35%;">
      Envoyer
    </div>
  </div>
</div>


<div class="ui basic modal" id="audioCallModal__" >
  <div class="ui icon header">
    <img id="friendImageAudioCall" src="{{wahid}}" class="ui medium circular image">
    <div id="audioCallEffect__">
      <fa-icon [icon]="icons.phone" [ngClass]="['fas', faIconSize]"></fa-icon>
    </div>
  </div>

  <div class="actions" style="text-align: center;">
    <div class="ui cancel blue button inverted" id="decrosh_btn">
      Décrosher
    </div>
  </div>
</div>




<div id="res_sidebar_friends_list" class="ui left vertical inverted sidebar menu">
  <a class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Topics
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Friends
  </a>
</div>

<div class="ui bottom sidebar menu inverted five item" id="resExtrasbar__">
  <a class="item"><fa-icon [icon]="icons.video" class="faicon fas fa-2x"></fa-icon></a>
  <a class="item"><fa-icon (click)="callAudio()" [icon]="icons.phone" class="faicon fas fa-2x"></fa-icon></a>
  <a class="item"><fa-icon (click)="showVocalModal()" [icon]="icons.microphone" class="faicon fas fa-2x"></fa-icon></a>
  <a class="item"><fa-icon [icon]="icons.image" class="faicon fas fa-2x"></fa-icon></a>
  <a class="item"><fa-icon  [icon]="icons.file" class="faicon fas fa-2x"></fa-icon></a>
</div>
