@keyframes connection {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes textHilight {
  0% {
    font-size: smaller;
  }

  50% {
    font-size: small;
  }

  75% {
    font-size: revert;
  }

  100% {
    font-size: small;
  }
}

.bullConnection {
  z-index: 1;
  background: #3ab53a;
  position: absolute;
  width: 12px;
  height: 12px;
  animation: connection 1.5s infinite;
  transform: translateX(35px);
  border-radius: 50%;
}

.nameuser {
  color: white;
  font-weight: bold;
  margin-left: 2%;
  display: contents;
}

.etext {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  display: block;
  text-overflow: ellipsis;
}

.nmsg {
  font-weight: bold;
  color: #a8a8e4;
  animation: pulse 2s infinite;
}

.msgContent {
  background: darkslategray;
  border-radius: 50px;
  max-width: 50%;
  margin-left: 1%;
  word-break: break-all;
  word-wrap: break-word;
}

.messagesContainerForm {
  width: 100%;
}

.inputMessageField {
  float: right;
  width: 50%;
  height: 100%;
}

.inputMessageField>input {
  font-weight: bold;
  height: 90%;
  border-radius: 20px;
}


.message_text_value::first-letter {
  text-transform: uppercase;
}

.three.wide.column {
  height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.uewcag {
  position: relative;
  margin-top: auto;
  width: 100%;
}

#btmROW {
  height: 10%;
  position: absolute;
  top: 88vh;
  transform: translateY(-100%);
}

.message_text_value {
  padding: 1%;
  margin: 6%;
  color: white;
  font-weight: bold;
  
  text-align: center;
  cursor: pointer;
}

.userimage_1 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.nameuser_1 {
  display: inline-flex;
  font-size: large;
  margin-right: 2%;
}

.messages {
  height: 73%;
  overflow-y: scroll;
  margin-top: 1%;


  overflow-x: hidden;
}

.item_content {
  display: -moz-inline-grid;
  display: -ms-inline-grid;
  display: inline-grid;
  margin-left: 3%;
}

.itemList:hover .nameuser {
  font-size: revert;
  color: #5bc0de;
}

.itemList {
  margin: 2%;
  margin-top: 3%;
  cursor: pointer;
}

@media screen and (max-width: 1032px) {
  #item_block {
    display: inline-table;
  }
}
