#UC{
    text-align: -webkit-center;
    text-align:  -moz-center;
    text-align: -ms-center;
}
@media screen and (max-width: 500px){
    #logo{width: 100px;}
}
@media screen and (max-width: 700px){
    #logo{width: 150px;}
}